services:
  bank_simulator:
    container_name: bank_simulator
    image: bbyars/mountebank:2.8.1
    ports:
      - "2525:2525"
      - "8080:8080"
    command: --configfile /imposters/bank_simulator.ejs --allowInjection
    volumes:
      - type: bind
        source: ./imposters
        target: /imposters

  api:
    container_name: payment_api
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "8090:8090"
    environment:
      - BANK_URL=http://bank_simulator:8080
    depends_on:
      - bank_simulator